body {
  background-color: #95a5a6;
  padding-top: 75px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 75px;
  padding: 1rem;
  color: white;
  background: teal;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  padding: 1rem;
  height: 100%;
}
h1,
p {
  margin: 0;
}
body,
html {
  height: 150%;
}
* {
  box-sizing: border-box;
}
