body {
  background-color: #95a5a6;
}
.header {
  /* 안덮어 씌워지고 자리차지하는 포지션 relative */
  position: relative;
  /* body에 기본적으로 마진값이 8잡혀있어서 붕뜨는거 없애려고 */
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  /* z-index: -1; */
  /* background-image: url("./images/topMenu.jpg"); */
  background-color: lightsalmon;
  background-position-x: left;
  background-size: cover;
}
.btn {
  cursor: pointer;
}

h1 {
  color: aqua;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: pink;
}

.form,
.greeting {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
/* navigation class전체 */
.navigation {
  width: 100%;
  padding: 18px 0;
  text-align: center;
}
/* navigation 각 개체마다 적용 padding으로 확인가능 */
.navigation a {
  /* 폰트크기 */
  font-size: 20px;
  /* 대문자로 */
  text-transform: uppercase;
  padding: 0 18px;
  /* 글씨의 장식(선)을 지정 */
  text-decoration: underline overline #fff;
  color: #fff;
  /* 폰트 가중치나 굵기를 명시 */
  font-weight: 500;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 0 0 20px #000000;
  /* 두 가지 상태 사이에서 변화가 일어날 때 ex) hover, active 등 */
  transition: 0.3s;
}
.navigation a:hover {
  color: #333;
}
.nav {
  /* 포지션 fixed로 고정후 top과 left를 0으로 설정해야지 상단바가 왼쪽이랑 상단에 딱붙는다. 설정해 주지 않았을 때는 붕 떠있었다.*/
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightsalmon;
  /* animation: fadeIn 0.5s linear; */
}
p {
  font-size: 18px;
  padding: 0 40px;
  text-align: justify;
  line-height: 200%;
}
