body {
  background-color: lightgray;
}
body,
html {
  height: 150%;
}
.header {
  /* 안덮어 씌워지고 자리차지하는 포지션 relative */
  position: relative;
  /* body에 기본적으로 마진값이 8잡혀있어서 붕뜨는거 없애려고 */
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  /* width: 100%; */
  height: 300px;
  /* z-index: -1; */
  /* background-image: url("./images/topMenu.jpg"); */
  background-position-x: left;
  background-size: cover;
}
.btn {
  cursor: pointer;
}

h1 {
  color: aqua;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: pink;
}

.form,
.greeting {
  display: none;
}

/* .showing {
  display: block;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
/* navigation class전체 */
.navigation {
  position: relative;
  top: 0;
  width: 100%;
  padding: 18px 0;
  z-index: 2;
  text-align: center;
}
/* navigation 각 개체마다 적용 padding으로 확인가능 */
.navigation a {
  /* 폰트크기 */
  font-size: 20px;
  /* 대문자로 */
  text-transform: uppercase;
  padding: 0 18px;
  /* 글씨의 장식(선)을 지정 */
  text-decoration: underline overline #fff;
  color: #fff;
  /* 폰트 가중치나 굵기를 명시 */
  font-weight: 500;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 0 0 20px #000000;
  /* 두 가지 상태 사이에서 변화가 일어날 때 ex) hover, active 등 */
  transition: 0.3s;
}
.navigation a:hover {
  color: #333;
}
.nav {
  /* 포지션 fixed로 고정후 top과 left를 0으로 설정해야지 상단바가 왼쪽이랑 상단에 딱붙는다. 설정해 주지 않았을 때는 붕 떠있었다.*/
  position: fixed;
  background-color: darkkhaki;
  /* animation: fadeIn 0.5s linear; */
}
p {
  font-size: 18px;
  padding: 0 40px;
  /* justify는 좌우정렬 */
  text-align: justify;
  line-height: 200%;
}
.container {
  position: relative;
  background: black;
  max-width: 650px;
  min-width: 650px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 340px;
  height: 400px;
  background: red;
  margin: 5px;
  transition: transform 0.5s, background 0.3s ease-in-out;
}
.card:nth-child(1) {
  transform: translate(-170%, -50%);
}
.card:nth-child(2) {
  transform: translate(-50%, -50%);
}
.card:nth-child(3) {
  transform: translate(70%, -50%);
}
.card:nth-child(4) {
  transform: translate(190%, -50%);
}
.active {
  background: yellow;
  transform: translate(-50%, -50%) scale(1.1) !important;
}
.next .card:nth-child(1) {
  transform: translate(-290%, -50%);
}
.next .card:nth-child(2) {
  transform: translate(-170%, -50%);
}
.next .card:nth-child(3) {
  transform: translate(-50%, -50%);
}
.next .card:nth-child(4) {
  transform: translate(70%, -50%);
}
.reset .card {
  transition: none;
}
.reset .card .card:nth-child(1) {
  transform: translate(-170%, -50%);
}
.reset .card .card:nth-child(2) {
  transform: translate(-50%, -50%);
}
.reset .card .card:nth-child(3) {
  transform: translate(70%, -50%);
}
.reset .card .card:nth-child(4) {
  transform: translate(190%, -50%);
}
/* 오버레이 캐러셀 슬라이더 */
.slider {
  width: 100%;
  position: relative;
}
.slider__item {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 48px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.slider__item:nth-child(odd) {
  background-color: royalblue;
}
.slider__item:nth-child(even) {
  background-color: blueviolet;
}
.showing {
  z-index: 1;
  opacity: 1;
}

/* 스탠다드 캐러셀 슬라이더 */
.carousel-container {
  width: 900px;
  margin: 30px auto;
  border: 0px solid #000;
  overflow: hidden;
  position: relative;
}
.carousel-slide {
  display: flex;
  width: 100%;
  height: 450px;
}
.carousel-slide a img {
  display: flex;
  width: 900px;
  height: 450px;
}
#prevBtn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  width: 20px;
  height: 36px;
  background: url(images/carousel_prevBtn.png) no-repeat;
  text-indent: -9999px;
}
#nextBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  width: 20px;
  height: 36px;
  background: url(images/carousel_nextBtn.png) no-repeat;
  text-indent: -9999px;
}
